/********** CUSTOM FONTS **********/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700|Open+Sans:400,600&display=swap");

:root {
   --my-blue: rgb(34, 129, 218);
   --darkGrey: #232323;
   background-color: var(--darkGrey);
}

* {
   margin: 0 0;
   font-family: "Nunito Sans", "Open Sans", Arial, sans-serif;
}

.flex-container {
   opacity: 0;
   animation: fade-in 500ms ease-out 100ms;
   animation-fill-mode: forwards;
   display: flex;
   justify-content: center;
   max-width: 600px;
   margin: 0 auto;
   flex-wrap: wrap;
}

/* This animation is for the fade-in on the 
entire page's elements when it is first loaded */
@keyframes fade-in {
   100% {
      opacity: 1;
   }
}

/********** HEADER **********/
header {
   background-color: var(--my-blue);
   transition: background-color 200ms ease-out;

   h1 {
      letter-spacing: 2px;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 300;
      padding: 5px 0;
      color: white;

      .rgbString {
         font-size: 3.5rem;
         font-weight: 400;
         display: block;
      }
   }
}

/********** MIDBAR **********/
.midbar {
   height: 30px;
   display: flex;
   padding: 0px 0;
   margin-bottom: 15px;
   background-color: white;

   .flex-container {
      width: 530px;
      justify-content: flex-end;
      align-items: center;
      height: 30px;
   }
   .info {
      transition: opacity 200ms ease-out;
      opacity: 1;
      padding: 4px 5px;
      margin-right: auto;
   }
}

.btn {
   transition: background-color 200ms ease-out, color 200ms ease-out;
   padding: 4px 5px;
   margin-right: 5px;
   height: 1.375rem;
   color: var(--my-blue);
   font-size: 1em;
   font-weight: 700;
   border: 0px;
   background-color: white;
}
.btn.newColors {
   margin-right: auto;
}
.btn:hover,
.btn.selected {
   cursor: pointer;
   color: white;
   background-color: var(--my-blue);
}

/********** BODY **********/
.square {
   opacity: 0;
   width: 30%;
   padding-bottom: 30%;
   border-radius: 15%;
   margin: 1.66%;
   transition: opacity 200ms ease-out, background-color 200ms ease-out;

   &:not(.clicked),
   &.square-visible {
      opacity: 1 !important;
   }
   &.clicked:not(.answer),
   &:not(.square-visible) {
      opacity: 0;
   }
}

/********** MEDIA QUERIES **********/
@media (max-width: 649px) {
   header .flex-container {
      margin: 0 1%;
   }
   .flex-container {
      margin: 0 8%;
   }
   .info {
      font-size: 0.8em;
   }
   h1 {
      letter-spacing: 2px;
      font-size: 2.2rem;
   }
   .rgbString {
      font-size: 2.8rem;
   }
}
@media (max-width: 510px) {
   .info {
      font-size: 0.6em;
   }
   h1 {
      font-size: 2rem;
   }
   .rgbString {
      font-size: 2.4rem;
   }
}
